<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="navbar">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">
                        <h4><strong>IBS</strong></h4>
                        <!-- <sup>2</sup> -->
                    </div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- ***************MENU ADMINISTRACION*************** -->
                <!-- Heading -->
                <div class="sidebar-heading">
                    <h6>Admin</h6>
                </div>

                <!-- Nav Item - Administracion -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuAdmin"
                        aria-expanded="true" aria-controls="menuAdmin">
                        <i class="fas fa-users-cog"></i>
                        <span><strong>Administracion</strong></span>
                    </a>
                    <div id="menuAdmin" class="collapse show" aria-labelledby="headingTwo"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                            <a class="collapse-item" href="#"><i class="fas fa-user-tag"></i> Roles</a>
                            <a class="collapse-item" href="#"><i class="fas fa-user-cog"></i> Usuarios</a>
                            <a class="collapse-item" href="#"><i class="fas fa-users"></i> Clientes</a>
                            <a class="collapse-item" href="#"><i class="fas fa-user-tie"></i> Proveedores</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- ***************MENU FACTURACION*************** -->
                <!-- Heading -->
                <div class="sidebar-heading">
                    <h6>Facturacion</h6>
                </div>

                <!-- Nav Item - Salidas -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuSalidas"
                        aria-expanded="true" aria-controls="menuSalidas">
                        <i class="fas fa-cart-arrow-down"></i>
                        <span><strong>Ventas</strong></span>
                    </a>
                    <div id="menuSalidas" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                            <a class="collapse-item" th:href="@{/venta/guardar}"><i
                                    class="fas fa-external-link-square-alt"></i> Nueva
                                Venta</a>
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Ventas</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- ***************MENU INGRESOS*************** -->
                <!-- Heading -->
                <div class="sidebar-heading">
                    <h6>Ingresos</h6>
                </div>

                <!-- Nav Item - Salidas -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuEntradas"
                        aria-expanded="true" aria-controls="menuEntradas">
                        <i class="fas fa-shopping-bag"></i>
                        <span><strong>Compras</strong></span>
                    </a>
                    <div id="menuEntradas" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                            <a class="collapse-item" href="#"><i class="fas fa-external-link-square-alt"></i> Nueva
                                Compra</a>
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Compras</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- ***************MENU ALMACEN*************** -->
                <!-- Heading -->
                <div class="sidebar-heading">
                    <h6>Almacén</h6>
                </div>

                <!-- Nav Item - Salidas -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuInventario"
                        aria-expanded="true" aria-controls="menuInventario">
                        <i class="fas fa-book-open"></i>
                        <span><strong>Catálogo</strong></span>
                    </a>
                    <div id="menuInventario" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Productos</a>
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Marcas</a>
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Categorias</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- ***************MENU BODEGA*************** -->
                <!-- Heading -->
                <div class="sidebar-heading">
                    <h6>Bodega</h6>
                </div>

                <!-- Nav Item - Entradas -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuEntradasInventario"
                        aria-expanded="true" aria-controls="menuEntradasInventario">
                        <i class="fas fa-arrow-circle-right"></i>
                        <span><strong>Entradas</strong></span>
                    </a>
                    <div id="menuEntradasInventario" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                            <a class="collapse-item" href="#"><i class="fas fa-external-link-square-alt"></i> Nueva
                                Entrada</a>
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Entradas</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Salidas -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuSalidasInventario"
                        aria-expanded="true" aria-controls="menuSalidasInventario">
                        <i class="fas fa-arrow-circle-left"></i>
                        <span><strong>Salidas</strong></span>
                    </a>
                    <div id="menuSalidasInventario" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                            <a class="collapse-item" href="#"><i class="fas fa-external-link-square-alt"></i> Nueva
                                Salida</a>
                            <a class="collapse-item" href="#"><i class="fas fa-list-alt"></i> Listado de Salidas</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Usuario</span>
                                    <img class="img-profile rounded-circle"
                                        src="/img/usuario.png">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesión
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>

                    <div th:include="this::content"></div>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->

                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Inventory and Billing System &copy; 2019</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Seguro que desea salir?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seleccione "Cerrar Sesión" a continuación si está listo para finalizar
                            su sesión
                            actual.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="#">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>